<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta content="" name="description">
  <meta content="" name="author">
  
  <title>MetagenApp</title>
  
  {% load static %}
  {% load i18n %}
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'app/materialize.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'app/custom.css' %}" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" type="image/png" href="{% static 'app/img/favicon.ico' %}"/>
</head>
<body>
<header>
    {% csrf_token %}
    {% block header_include %}
    {% include "app/base_header.html" %}
    {% endblock header_include %}
</header>
<main>
  {% block content %}
  <div class="container">
    <h3 class=""></h3>
    <div class="row">
      <h1>{% trans "Data" %}</h1>
      {% for run in runs %}
      <div class="col s12 m6 l4">
        <div class="card run-card">
          <div class="card-image">
            <img alt="" class="run-img" src="{{ run.image.url }}">
            <a class="btn-floating halfway-fab waves-effect waves-light teal darken-1"
               href="{% url 'results:run' run.id %}">
              <i class="material-icons">pageview</i>
            </a>
          </div>
          <div class="run-card-content card-content">
            <span class="card-title">{{ run.analysis_en }}</span>
            {% if LANGUAGE_CODE == "en" %}
              {% if run.description_en %}
                <p>{{ run.description_en }}</p>
              {% else %}
                <p>MetagenApp run from {{ run.analysis_date|date:"d.M.Y." }}</p>
              {% endif %}
            {% else %}
              {% if run.description_de %}
                <p>{{ run.description_de }}</p>
              {% else %}
              <p>MetagenApp run from {{ run.analysis_date|date:"d.M.Y." }}</p>
            {% endif %}
            {% endif %}
          </div>
          {% if run.details_en %}
          <div class="card-action">
            <a href="#">More details</a>
          </div>
          {% else %}
          <div class="card-action">
            <a href="#"></a>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}

</main>

  {% block footer_include %}
    <footer class="page-footer grey darken-2">
      {% include "app/base_footer.html" %}
    </footer>
  {% endblock footer_include %}


<script src="{% static 'results/vendor/js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'app/materialize.js' %}" type="text/javascript"></script>
<script src="{% static 'app/cookie_obtainer.js' %}" type="text/javascript"></script>
<!--<script src="{% static 'app/sidenav.js' %}" type="text/javascript"></script>-->
<script>

    var sidebar = $('.sidenav');

    var onOpen = function () {
        $("header, main, footer").addClass("padding-300");
    };

    var onClose = function () {
        $("header, main, footer, .nav-content").removeClass("padding-300");
        $(".nav-extended, .nav-content").removeClass("minus-300");
    };

    var get_lock = function (lock, click) {
        var trigger = $('#trigger-icon');
        var on = '<i class="material-icons teal-text" style="font-size:2rem;margin-right:0">toggle_on</i>';
        var off = '<i class="material-icons grey-text darken-3" style="font-size:2rem;margin-right:0">toggle_off</i>';
        var id_lock = $('#id_lock');
        var lock_toggle = $('#lock-toggle');
        var nav_extended = $(".nav-extended");
        if (lock === true) {
            lock_toggle.html(on);
            id_lock.attr('value', "True");
            sidebar.addClass("sidenav-fixed");
            sidebar.sidenav({"outDuration": 0, "inDuration": 0, "onCloseStart": onClose, "onOpenStart": onOpen});
            trigger.hide();
            nav_extended.addClass("minus-300");
        } else {
            lock_toggle.html(off);
            id_lock.attr('value', "False");
            sidebar.removeClass("sidenav-fixed");
            sidebar.sidenav({"outDuration": 0, "inDuration": 0, "onCloseStart": onClose, "onOpenStart": onOpen});
            trigger.show();
            nav_extended.removeClass("minus-300");
            if (click === true) {
                trigger.click()
            }
        }
    };

    var update_lock = function (click) {
        var is_locked = $('#id_lock').attr("value");
        $.ajax({
            url: '{% url "app:request_lock" %}',
            data: {
                'is_locked': is_locked,
            },
            dataType: 'json',
            type: "POST",
            success: function (data) {
                get_lock(data.response, click)
            }
        });
    };

    $(document).ready(function () {
        $('.collapsible').collapsible();
        $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
        $('.dropdown-trigger').dropdown({constrainWidth: false });
        get_lock( {{ session.sn_lock|yesno:"true,false,maybe" }} , false);
        $('select').formSelect();
    });

    $("#lock-side-nav").click(function () {
        update_lock(true)
    });

    $('#check').change(function () {
        if ($(this).is(':checked')) {
            $('input[name="samples_form-samples"]').prop('checked', "checked");
        } else {
            $('input[name="samples_form-samples"]').prop('checked', false);
        }
        $("#form").submit();
    });

    $('input[type=checkbox], input[type=radio]').on('change', function () {
        if ($(this).attr("name") === "samples_form-samples") {
             $("#form").submit();
        }
                if ($(this).attr("name") === "steps_form-step") {
             $("#steps-form").submit();
        }
       
    });
    
    $('.lang-select').click( function(e) {
        e.preventDefault();
        $("input[name='language']").val( $(this).attr("id"));
       $("#lang-form").submit();
    });
    
    $('.lang-select2').click( function(e) {
        e.preventDefault();
        $("input[name='language']").val( $(this).attr("id").slice(0,-1));
        $("#lang-form").submit();
    });


    var addEvent = function (object, type, callback) {
        if (object == null || typeof (object) == 'undefined') return;
        if (object.addEventListener) {
            object.addEventListener(type, callback, {passive: true});
        } else if (object.attachEvent) {
            object.attachEvent("on" + type, callback);
        } else {
            object["on" + type] = callback;
        }
    };

    addEvent(window, "resize", function () {
        if ($(window).width() < 992 && sidebar.hasClass("sidenav-fixed")) {
            $('#trigger-icon').show();
        }
        if ($(window).width() >= 992 && sidebar.attr("id") === "sidebar-nofix") {
            sidebar.sidenav("close");
        }
    });

    addEvent(sidebar, "click", function () {
        $(".nav-extended").removeClass("minus-300");
    });
    
    
</script>
{% block custom_js %}

{% endblock %}
</body>
</html>
