{% load i18n %}


<div class="container">
  <div class="row">
    <div class="col s11">
      <p>{% trans "Page footer" %}</p>
    </div>
    <div class="col s1 right">
      <div class="valign-wrapper">
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright grey darken-3">
  <div class="container">
    <div class="row ">
      <div class="col">
        <p class="white-text">© Copyright 2019 - {% trans "all rights reserved, University of Applied Sciences, Vienna; Design by" %} Josef W. Moser Msc. </p>
      </div>
    </div>
  </div>
</div>