{% load materializecss %}
{% load static %}
{% load i18n %}
<div class="navbar-fixed">
  <nav class="nav-extended">
    <div class="nav-wrapper teal" id="header">
      <div class="container">
        <a class="sidenav-trigger show-on-large button-collapse" data-target="sidebar" href="#" id="sidebar-trigger">
          <i class="material-icons" id="trigger-icon">menu</i>
        </a>
        <a class="navbar-brand" href="#">MetagenApp</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'app:index' %}"><i class="material-icons" style="margin-left: 3px">home</i></a></li>
          <li><a class='dropdown-trigger' data-target='pipeline-dd' href='#' style="padding-right: 0;padding-left: 0.3em">
            <img alt="Runs" src="{% static 'app/img/data.svg' %}" width="60px" style="transform: translateY(30%);">
          </a>
            <ul class='dropdown-content' id='pipeline-dd'>
              <li><a href="{% url 'pipeline:config' %}">{% trans "New Run" %}</a></li>
              <li class="divider" tabindex="-1"></li>
              <li><a href="{% url 'pipeline:logs' %}">{% trans "View Logs" %}</a></li>
              <li class="divider" tabindex="-1"></li>
              <li><a href="{% url 'pipeline:upload' %}">{% trans "Upload Run" %}</a></li>
              <li class="divider" tabindex="-1"></li>
              <li><a href="{% url 'pipeline:edit' %}">{% trans "Edit Run" %}</a></li>
            </ul>
          </li>
          
          <li>
            <li><a class='dropdown-trigger' data-target='results-dd' href='#' style="padding-right: 0.3em;padding-left: 0.3em">
            <img id="results-dd-img" alt="Runs" src="{% static 'app/img/research.svg' %}" width="50px" style=" transform: translateY(25%);">
          </a>
            <ul class='dropdown-content' id='results-dd'>
              <li class="grey lighten-3"><span class="grey-text darken-4">{% trans "Show results:" %}</span></li>
              {% for run in runs %}
              <li><a href="{% url 'results:run' run.id %}"> {{run.analysis_en }}</a></li>
              {%endfor %}
            
            </ul>
          </li>
          <li>
            <a class='dropdown-trigger' data-target='lang' href='#'>
              <i class="material-icons right " style="margin-left: 3px">arrow_drop_down</i>
              {% get_current_language as LANGUAGE_CODE %}
              <i class="material-icons left dd-icon" style="margin-right: 5px">language</i>
              {% if LANGUAGE_CODE == "en" %} en {% else %} de {% endif %}</a>
            <ul class='dropdown-content' id='lang'>
              <form action="{% url 'set_language' %}" id="lang-form" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path  }}">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                <input name="language" type="hidden">
                {% for language in languages %}
                <li><a class="lang-select" href="" id="{{ language.code }}">{{ language.name_local }}</a></li>
                {% endfor %}
              </form>
            </ul>
          </li>
        </ul>
      </div>
      {% block horizontal_menu %}
      {% endblock %}
    </div>
  </nav>
</div>
<form action="" enctype="multipart/form-data" id="form" method="POST">
  {% csrf_token %}
  <ul class="sidenav collapsible" id="sidebar">
    <li>
      <div class=" row fix-sn-row collapsible-header grey lighten-4">
        <a class=" hide-on-med-and-down" id="lock-side-nav">
          <div class=" col s6" style="padding: 0; margin: 0;">{% trans "Sidebar lock" %}</div>
          <div class="col s6 right-align" style="padding: 0">
            <i class="material-icons grey-text text-darken-3"
               style="font-size: 1.2rem; vertical-align: 12%;margin-right:0">lock_open</i>
            <span id="lock-toggle"><i class="material-icons teal-text"
                                      style="font-size: 2rem;margin-right:0">toggle_on</i></span>
            <i class="material-icons grey-text text-darken-3"
               style="font-size: 1.2rem; vertical-align: 12%;margin-right:0">lock</i>
          </div>
          <form action="" id="lock-form" method="POST">
            {{ lock_form }}
          </form>
        </a>
      </div>
      <div class="collapsible-body"></div>
    </li>
    <li class="hide-on-large-only" id="menu-item">
      <div class="collapsible-header">{% trans "Menu" %}</div>
      <div class="collapsible-body">
        <ul>
          <li><a href="{% url 'app:index' %}">Home</a></li>
          <li>
            <a class='dropdown-trigger' data-target='pipeline-dd2' href='#'>Pipeline
              <i class="material-icons right dd-icon">arrow_drop_down</i> </a>
            <ul class='dropdown-content' id='pipeline-dd2'>
              <li><a href="{% url 'pipeline:config' %}">{% trans "New Run" %}</a></li>
              <li class="divider" tabindex="-1"></li>
              <li><a href="{% url 'pipeline:logs' %}">{% trans "View Logs" %}</a></li>
              <li class="divider" tabindex="-1"></li>
              <li><a href="{% url 'pipeline:upload' %}">{% trans "Upload Run" %}</a></li>
              <li class="divider" tabindex="-1"></li>
              <li><a href="{% url 'pipeline:edit' %}">{% trans "Edit Run" %}</a></li>
            </ul>
          </li>
          <li>
            <a class='dropdown-trigger image-icon' data-target='results-dd2' href='#'>{% trans "Runs" %}
              <i class="material-icons right dd-icon">arrow_drop_down</i> </a>
            <ul class='dropdown-content' id='results-dd2'>
              {% for run in runs %}
              <li><a href="{% url 'results:run' run.id %}">{{run.analysis_en}}</a></li>
              {%endfor %}
            </ul>
          </li>
          <li>
            <a class='dropdown-trigger' data-target='lang2' href='#'>
              <i class="material-icons right " style="margin-left: 3px">arrow_drop_down</i>
              {% get_current_language as LANGUAGE_CODE %}
              <i class="material-icons left dd-icon" style="margin-right: 5px">language</i>
              {% if LANGUAGE_CODE == "en" %} en {% else %} de {% endif %}</a>
            <ul class='dropdown-content' id='lang2'>
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
              <li><a class="lang-select2" href="" id="{{ language.code }}2">{{ language.name_local }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li class="divider no-margin hide-on-large-only"></li>
    {% block sidenav_items %}
    {% endblock %}
  </ul>
</form>