{% extends "results/results.html" %}
{% load materializecss %}
{% csrf_token %}
{% block header_include %}
{% include "results/pcoa_header.html" %}
{% endblock header_include %}
{% csrf_token %}
{% block content %}
<div>
  {% if LANGUAGE_CODE == "en" %}
    <iframe class="pcoa-iframe"  src='{% url "results:pcoa_iframe_en" plot.id %}'></iframe>
  {% else %}
    <iframe class="pcoa-iframe"  src='{% url "results:pcoa_iframe_de" plot.id %}'></iframe>
  {% endif %}
</div>
{% endblock content %}

{% block custom_js %}
<script>
  $(document).ready(function () {
      $('footer').prop("hidden", true);
      var rc = $('#results-collapsible');
      rc.removeClass("active");
      rc.find(".collapsible-body").css("display", "none");
      $('.collapsible').collapsible();
  });
  
    $('input[type=radio]').on('change', function () {
    $("#form").submit();
});
</script>
{% endblock %}
