{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Emperor</title>
  <!-- core dependencies that are otherwise included via the jupyter notebook -->
  <script src="{% static 'results/vendor/js/require-2.1.22.min.js' %}"></script>
  <script src="{% static 'results/vendor/js/jquery-2.1.4.min.js' %}"></script>
  <link href="{% static 'results/css/emperor.css' %}" id="emperor-css" rel="stylesheet" type="text/css">
  <link href="{% static 'results/vendor/css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'results/vendor/css/slick.grid.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'results/vendor/css/spectrum.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'results/vendor/css/chosen.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'results/vendor/css/jquery.contextMenu.min.css' %}" rel="stylesheet" type="text/css">
  
  <meta charset="utf-8">
  
  <style>
    #emperor-notebook {
      height: 100vh !important;
      padding: 0px !important;
    }
    
    body {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
    }
  </style>
</head>
<body>
<div id='emperor-notebook' style="position: relative; width:100%; ">
  <div class='loading'
       style="position: absolute;top: 50%;left: 50%;margin-left: -229px; margin-top: -59px; z-index: 10000;height:118px;width:458px;padding:0px">
    <img alt='Emperor resources missing. Expected them to be found in .' src='{% static "results/img/emperor.png" %}'>
  </div>
</div>

</body>


<script type="text/javascript">
        // When running in the Jupyter notebook we've encountered version conflicts
        // with some dependencies. So instead of polluting the global require context,
        // we define a new context.
        var emperorRequire = require.config({
            'context': 'emperor',
// the left side is the module name, and the right side is the path
// relative to the baseUrl attribute, do NOT include the .js extension
            'paths': {
                /* jQuery */
                'jquery': '{% static "results/vendor/js/jquery-2.1.4.min" %}',
                'jqueryui': '{% static "results/vendor/js/jquery-ui.min" %}',
                'jquery_drag': '{% static "results/vendor/js/jquery.event.drag-2.2.min" %}',

                /* jQuery plugins */
                'chosen': '{% static "results/vendor/js/chosen.jquery.min" %}',
                'spectrum': '{% static "results/vendor/js/spectrum.min" %}',
                'position': '{% static "results/vendor/js/jquery.ui.position.min" %}',
                'contextmenu': '{% static "results/vendor/js/jquery.contextMenu.min" %}',

                /* other libraries */
                'underscore': '{% static "results/vendor/js/underscore-min" %}',
                'chroma': '{% static "results/vendor/js/chroma.min" %}',
                'filesaver': '{% static "results/vendor/js/FileSaver.min" %}',
                'blob': '{% static "results/vendor/js/Blob" %}',
                'canvastoblob': '{% static "results/vendor/js/canvas-toBlob" %}',
                'd3': '{% static "results/vendor/js/d3.min" %}',

                /* THREE.js and plugins */
                'three': '{% static "results/vendor/js/three.min" %}',
                'orbitcontrols': '{% static "results/vendor/js/three.js-plugins/OrbitControls" %}',
                'projector': '{% static "results/vendor/js/three.js-plugins/Projector" %}',
                'svgrenderer': '{% static "results/vendor/js/three.js-plugins/SVGRenderer" %}',
                'canvasrenderer': '{% static "results/vendor/js/three.js-plugins/CanvasRenderer" %}',

                /* SlickGrid */
                'slickcore': '{% static "results/vendor/js/slick.core.min" %}',
                'slickgrid': '{% static "results/vendor/js/slick.grid.min" %}',
                'slickformatters': '{% static "results/vendor/js/slick.editors.min" %}',
                'slickeditors': '{% static "results/vendor/js/slick.formatters.min" %}',

                /* Emperor's objects */
                'util': '{% static "results/js/util" %}',
                'model': '{% static "results/js/model" %}',
                'view': '{% static "results/js/view" %}',
                'controller': '{% static "results/js/controller" %}',
                'draw': '{% static "results/js/draw" %}',
                'scene3d': '{% static "results/js/sceneplotview3d" %}',
                'shapes': '{% static "results/js/shapes" %}',
                'animationdirector': '{% static "results/js/animate" %}',
                'trajectory': '{% static "results/js/trajectory" %}',

                /* controllers */
                'abcviewcontroller': '{% static "results/js/abc-view-controller" %}',
                'viewcontroller': '{% static "results/js/view-controller" %}',
                'colorviewcontroller': '{% static "results/js/color-view-controller" %}',
                'visibilitycontroller': '{% static "results/js/visibility-controller" %}',
                'opacityviewcontroller': '{% static "results/js/opacity-view-controller" %}',
                'scaleviewcontroller': '{% static "results/js/scale-view-controller" %}',
                'shapecontroller': '{% static "results/js/shape-controller" %}',
                'axescontroller': '{% static "results/js/axes-controller" %}',
                'animationscontroller': '{% static "results/js/animations-controller" %}',

                /* editors */
                'shape-editor': '{% static "results/js/shape-editor" %}',
                'color-editor': '{% static "results/js/color-editor" %}',
                'scale-editor': '{% static "results/js/scale-editor" %}'

            },
            /*
               Libraries that are not AMD compatible need shim to declare their
               dependencies.
             */
            'shim': {
                'jquery_drag': {
                    'deps': ['jquery', 'jqueryui']
                },
                'chosen': {
                    'deps': ['jquery'],
                    'exports': 'jQuery.fn.chosen'
                },
                'contextmenu': {
                    'deps': ['jquery', 'jqueryui', 'position']
                },
                'filesaver': {
                    'deps': ['blob']
                },
                'canvastoblob': {
                    'deps': ['blob']
                },
                'slickcore': ['jqueryui'],
                'slickgrid': ['slickcore', 'jquery_drag', 'slickformatters', 'slickeditors']
            }
        });

        emperorRequire(
            ["jquery", "model", "controller"],
            function ($, model, EmperorController) {
                var DecompositionModel = model.DecompositionModel;

                var div = $('#emperor-notebook');

                var data = {{ emperordata | safe }};

                var plot, biplot = null, ec;

                function init() {
                    // Initialize the DecompositionModel for the scatter plot, and optionally
                    // add one for the biplot arrows
                    plot = new DecompositionModel(data.plot.decomposition,
                        data.plot.metadata_headers,
                        data.plot.metadata,
                        data.plot.type);

                    if (data.biplot) {
                        biplot = new DecompositionModel(data.biplot.decomposition,
                            data.biplot.metadata_headers,
                            data.biplot.metadata,
                            data.biplot.type);
                    }

                    ec = new EmperorController(plot, biplot, "emperor-notebook");
                }

                function animate() {
                    requestAnimationFrame(animate);
                    ec.render();
                }

                $(window).resize(function () {
                    ec.resize(div.innerWidth(), div.innerHeight());
                });

                $(function () {
                    init();
                    animate();

                    ec.ready = function () {
                        // any other code that needs to be executed when emperor is loaded should
                        // go here
                        ec.loadConfig(data.plot.settings);
                    }
                });

            }); // END REQUIRE.JS block
</script>