{% extends "results/results_header.html" %}
{% load i18n %}
{% load materializecss %}


{% block sidenav_items_2 %}

<div class="divider no-margin"></div>
<li class="active">
  <div class="collapsible-header">{% trans "Taxonomic Rank" %}</div>
  <div class="collapsible-body">
    <ul>
      {{ rankform|materializecss }}
    </ul>
  </div>
</li>
{% endblock %}


