{% extends "app/base.html" %}
{% load materializecss %}

{% block header_include %}
{% include "results/qc_header.html" %}
{% endblock header_include %}

{% block content %}


<div class="row" style="margin: 0; flex: 1 0 auto;">
  {% for qc in qcs %}
  <div class="col s12 m12 l6" style="padding:0;flex: 1 0 auto;">
    <iframe class="qc-iframe" id="qc1" src='{% url "results:qc_iframe" strand qc.sample_id.id %}'></iframe>
  </div>
  <div class="col s12 m12 l6" style="padding:0">
    <iframe class="qc-iframe" id="qc2"
            src='{% url "results:qc_iframe_trim" strand_trim qc.sample_id.id %}'></iframe>
  </div>
  {% endfor %}
</div>

{% endblock content %}

{% block custom_js %}
<script>
    $(window).load(
        function () {
            $('footer').prop("hidden", true);
            $("#qc1").contents().find('div.main').css("overflow-y", "hidden");
            $("#qc2").contents().find('div.main').on('scroll', function () {
                $("#qc1").contents().find('div.main').scrollTop($(this).scrollTop());
            });
            $("#qc1").contents().find('div.main').on('scroll', function () {
                $("#qc2").contents().find('div.main').scrollTop($(this).scrollTop());
            })
        }
    );

    addEvent(window, "resize", function () {
        if ($(window).width() < 992) {
            $("#qc1").contents().find('div.main').css("overflow-y", "scroll");
        } else {
            $("#qc1").contents().find('div.main').css("overflow-y", "hidden");
        }
    });

    $(document).ready(function () {
        var rc = $('#results-collapsible');
        rc.removeClass("active");
        rc.find(".collapsible-body").css("display", "none");
        $('.collapsible').collapsible();

    });
</script>

{% load static %}
<script src="{% static 'menu_handler_qc.js' %}" type="text/javascript"></script>

{% endblock %}

