{% extends "results/results_header.html" %}
{% load materializecss %}
{% load i18n %}
{% block sidenav_items_2 %}

<div class="divider no-margin"></div>
<li>
  <div class="collapsible-header">{% trans "Strand" %}</div>
  <div class="collapsible-body">
    <ul>
      {{ strand_form.strand|materializecss }}
    </ul>
  </div>
</li>
<div class="divider no-margin"></div>
<li class="active" id="samples-collapsible">
  <div class="collapsible-header">{% trans "Samples" %}</div>
  <div class="collapsible-body">
    {{ samples_form|materializecss }}
  </div>
</li>

{% endblock %}