{% extends "app/base_header_fixed.html" %}
{% load i18n %}
{% block sidenav_items %}
<li class="active" id="results-collapsible">
  <div class="collapsible-header">{% trans "Results" %}</div>
  <div class="collapsible-body">
    <ul class="collapsible">
      <li><a href="{% url 'results:qc' session.active_run  %}">QC</a></li>
      <li class="divider" tabindex="-1"></li>
      <li><a href="{% url 'results:taxonomy' session.active_run %}">{% trans "Taxonomy" %}</a></li>
      <li class="divider" tabindex="-1"></li>
      {% if session.emperor %}
      <li><a href="{% url 'results:pcoa' session.active_run %}">PCoA</a></li>
      {% endif %}
    </ul>
  </div>
</li>
{% block sidenav_items_2 %}
{% endblock %}
{% endblock %}




