{% extends "app/base.html" %}
{% load staticfiles%}
{% block header_include %}
{% include "results/results_header.html" %}
{% endblock header_include %}
{% load i18n %}
{% block content %}

<div class="container">
  <h3 class=""></h3>
  <div class="row">
        <div class="col s12 m4">
      <a href="{% url 'results:qc' session.active_run  %}">
        <div class="card teal lighten-2 center">
          <div class="card-content">
            <img alt="" class="plot-icon" src="{% static 'app/img/box-plot.svg' %}" height="100px">
            <span class="card-title white-text"><b>{% trans "Quality Control" %}</b></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col s12 m4">
      <a href="{% url 'results:taxonomy' session.active_run %}">
        <div class="card teal lighten-2 center">
          <div class="card-content">
            <img alt="" class="plot-icon" src="{% static 'app/img/ico_krona.svg' %}" height="100px">
            <span class="card-title white-text"><b>{% trans "Taxonomy" %}</b></span>
          </div>
        </div>
      </a>
    </div>
  {% if session.emperor %}
    <div class="col s12 m4">
      <a href="{% url 'results:pcoa' session.active_run %}">
        <div class="card teal lighten-2 center">
          <div class="card-content">
            <img alt="" class="plot-icon" src="{% static 'app/img/biplot-icon.svg' %}" height="100px">
            <span class="card-title white-text"><b>{% trans "Principal Coordinates Analysis" %}</b></span>
          </div>
        </div>
      </a>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}

  {% block footer_include %}
  {% endblock footer_include %}