{% extends "results/results_header.html" %}
{% load materializecss %}
{% load i18n %}
{% block sidenav_items_2 %}

<li class="divider no-margin"></li>
<li class="active">
  <div class="collapsible-header">{% trans "Samples" %}</div>
  <div class="collapsible-body">
      <label>
        <input class="btn" id="check" name="samples_all" type="checkbox" {{ session.all_samples_active }}/>
        <span>Select all</span>
      </label>
      {{ samples_form|materializecss }}
  </div>
</li>

{% endblock %}