{% extends "app/base.html" %}
{% load materializecss %}

{% block header_include %}
{% include "results/taxonomy_header.html" %}
{% endblock header_include %}

{% block content %}
{% load static %}
<div class="tax-content">
  <div class="row" style="padding:0;margin:0;flex: 1 0 auto;">
    {% if kronaplots|length > 1 %}
    {% for plot in kronaplots %}
    <div class="col s12 m12 l6" style="padding:0;margin:0;flex: 1 0 auto;">
      <iframe class="krona-iframe" src="{% url 'results:krona_iframe' plot.id %}"></iframe>
    </div>
    {% endfor %}
    {% else %}
    {% for plot in kronaplots %}
    <div class="col s12 m12 l12" style="padding:0;margin:0;flex: 1 0 auto;">
      <iframe class="krona-iframe" src="{% url 'results:krona_iframe' plot.id %}"></iframe>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}

{% block custom_js %}
<script>
    $(document).ready(function () {
        $('footer').prop("hidden", true);
        // $('html').css("overflow-y","hidden")
        var rc = $('#results-collapsible');
        rc.removeClass("active");
        rc.find(".collapsible-body").css("display", "none");
        $('.collapsible').collapsible();
    })
</script>
{% endblock %}
