{% extends "app/base.html" %}
{% load materializecss %}
{% load i18n %}
{% block content %}
<div class="container">
  <form action="" class="form-horizontal" enctype="multipart/form-data" id="main-config" method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="row">
      <h3>{% trans "Pipeline Configuration" %}</h3>
      <div class="input-field col s12 m3">{{ form.analysis_en|materializecss }}</div>
       <div class="input-field col s12 m3">{{ form.analysis_de|materializecss }}</div>
      <div class="input-field col s6 m2">{{ form.mode|materializecss }}</div>
      <div class="input-field col s6 m2">{{ form.cpu_cores|materializecss }}</div>
      <div class="input-field col s12 m2">{{ form.image|materializecss }}</div>
      <div class="input-field col s12 m6">{{ form.description_en|materializecss }}</div>
      <div class="input-field col s12 m6">{{ form.description_de|materializecss }}</div>
    </div>
    <div class="row">
      <h4>{% trans 'Trimming parameter' %} </h4>
      <div class="col s6 m2 input-field">{{ trim_form.leading_quality|materializecss }}</div>
      <div class="col s6 m2 input-field">{{ trim_form.trailing_quality|materializecss }}</div>
      <div class="col s4 m2 input-field">{{ trim_form.minimum_length|materializecss }}</div>
      <div class="col s4 m2 input-field">{{ trim_form.sliding_window|materializecss }}</div>
      <div class="col s4 m2 input-field">{{ trim_form.sliding_window_quality|materializecss }}</div>
      <div class="col s4 m1 input-field">{{ trim_form.crop|materializecss }}</div>
      <div class="col s4 m1 input-field">{{ trim_form.head_crop|materializecss }}</div>
    </div>
    <div class="row">
      <!--                  <div class="col s2 input-field">-->
      <!--                <select id="clipping">-->
      <!--                    {% for x, y in trim_form.fields.illumina_clipping.choices %}-->
      <!--                    <option value="{{ x }}" {% if trim_form.fields.illumina_clipping.value == x %} selected {% endif %}>{{ y }}</option>-->
      <!--                    {% endfor %}-->
      <!--                </select>-->
      <!--                      <label for="clipping">{{ trim_form.fields.illumina_clipping.label }} </label>-->
      <!--            </div>-->
      
      <div class="col s6 m8 l4 clip-select">{{ trim_form.illumina_clipping|materializecss }}</div>
      <div class="col s6 m4 l2 clip">{{ trim_clip_form.seed_mismatches|materializecss }}</div>
      <div class="col s4 m4 l2 clip">{{ trim_clip_form.palindrome_clip_theshold|materializecss }}</div>
      <div class="col s4 m4 l2 clip">{{ trim_clip_form.simple_clipping_theshold|materializecss }}</div>
      <div class="col s4 m4 l2 clip">{{ trim_clip_form.minimum_adapter_length|materializecss }}</div>
    
    </div>
    
    <h4>{% trans "Samples" %}</h4>
    {% for f in formset %}
    <div class="row form-row">
      <div class="input-group">
        <div class="col s6 m4">{{ f.name|materializecss }}</div>
        <div class="col s3 m4">{{ f.sample_file_fwd|materializecss }}</div>
        <div class="col s3 m4">{{ f.sample_file_rev|materializecss }}</div>
      </div>
      <div class="input-group-append">
        <button class="btn add-form-row">+</button>
      </div>
    </div>
    {% endfor %}
    <button class="btn-large right btn-bottom" type="submit"><i class="material-icons right dd-icon">navigate_next</i></button>
  </form>
</div>
{% endblock %}

{% block custom_js %}
{% load static %}
<script src="{% static 'formset_handler.js' %}" type="text/javascript"></script>
<script>
      $('a[data-target="results-dd"]>img').attr("src", "{% static 'app/img/research-grey.svg' %}");
      $('a[data-target="results-dd"]').addClass("disabled");
</script>
{% endblock %}

  {% block footer_include %}
  {% endblock footer_include %}