{% extends "app/base.html" %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container">
  <h4>{% trans "Runs in Database:" %}</h4>
  {% render_table run_table %}
</div>
{% endblock %}

  {% block footer_include %}
  {% endblock footer_include %}

{% block custom_js %}
<script>
      $('a[data-target="results-dd"]>img').attr("src", "{% static 'app/img/research-grey.svg' %}");
      $('a[data-target="results-dd"]').addClass("disabled");
</script>

{% endblock %}