{% extends "pipeline/logs_base.html" %}
{% load materializecss %}

{% block header_include %}
{% include "pipeline/logs_run_header.html" %}
{% endblock header_include %}

{% block log_content %}
<form action="{% url 'pipeline:run_logs_steps' session.active_run %}" enctype="multipart/form-data" id="steps-form"
      method="POST">
  {% csrf_token %}
  <div class="row" id="arrow-row">
    <div class="col">
      <div id="id_steps_form-steps">
        <ul id="arrow-list">
          {% for choice in steps_form.step.field.choices %}
          <li>
            <label>
            <input type="checkbox" name="steps_form-step" value="{{ choice.0 }}"
                   id="id_steps_form-steps_{{ forloop.counter0 }}"
                   {% if choice.0 in session.active_logs %} checked="checked"{% endif %}>
            <span>{{ choice.1 }}</span>
          </label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
      <div class="log-content col">
    {% if logs %}
    {% for log in logs %}
    <p>{{ log.timestamp }} {{ log.tool }} {{ log.level }}: </p>
    <p class="log-text">{{ log.message }}</p>
    {% endfor %}
    {% endif %}
  </div>
  </div>
</form>
  {% endblock log_content %}

