{% extends "app/base_header_fixed.html" %}
{% load materializecss %}
{% load i18n %}

{% block sidenav_items %}

<ul class="collapsible">
  <li>
    <div class="collapsible-header">{% trans "Runs" %}</div>
    <div class="collapsible-body">
      <ul>
        {% for run in runs %}
        <li><a href="{% url 'pipeline:logs' %}">{{ run }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </li>
  <li class="active">
  <div class="collapsible-header">{% trans "Samples" %}</div>
  <div class="collapsible-body" style="padding-left: 1em">
      <label>
        <input class="btn" id="check" name="samples_all" type="checkbox" {{ session.all_samples_active }}/>
        <span>{% trans "Select all" %}</span>
      </label>
      {{ samples_form|materializecss }}
  </div>
</li>
</ul>

{% endblock %}
