{% extends "app/base.html" %}
{% load materializecss %}
{% load static %}
{% block content %}
{% load i18n %}
<div class="container">
  <form action="" class="form-horizontal" enctype="multipart/form-data" id="main-config" method="POST">
    <h2 class="mt-5">Sample Parameter Definition</h2>
    {% csrf_token %}
    {% for formset in formsets %}
    <div class="row">
      <h6>{{formset.prefix}}</h6>
      {{ formset|materializecss:'s6 m3 l2'}}
    </div>
    {% endfor %}
    <div class="row">
      <div class="col s3  offset-s9">
        <button class="btn-large right btn-bottom" type="submit">{% trans 'Start Run' %}<i class="material-icons right">send</i></button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

  {% block footer_include %}
  {% endblock footer_include %}

{% block custom_js %}
<script>
      $('a[data-target="results-dd"]>img').attr("src", "{% static 'app/img/research-grey.svg' %}");
      $('a[data-target="results-dd"]').addClass("disabled");
</script>
{% endblock %}

