{% extends "app/base.html" %}
{% load materializecss %}
{% block content %}
<div class="container">
  <form action="" class="form-horizontal" enctype="multipart/form-data" id="main-config" method="POST">
    <h3>Sample Parameter Definition</h3>
    {% csrf_token %}
    {{ formset.management_form }}
    {% for errors in formset.errors %}
     {% for k, v in errors.items %}
      {% if k == "all" %} <p class="help-block orange-text">{{ v }}</p> {% endif %}
    {% endfor %}
    {% endfor %}
    {% for f in formset %}
    <div class="row form-row">
      <div class="input-group">
        <div class="row pconf">
          <div class="col s3 input-field">{{ f.parameter_en|materializecss }}</div>
          <div class="col s3 input-field">{{ f.parameter_de|materializecss }}</div>
          <div class="col s2 input-field">{{ f.datatype|materializecss }}</div>
        </div>
      <div class="row pval">
          <div class="col s1 s10ths input-field">{{ f.value_1|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_2|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_3|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_4|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_5|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_6|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_7|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_8|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_9|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_10|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_1_de|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_2_de|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_3_de|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_4_de|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_5_de|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_6_de|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_7_de|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_8_de|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_9_de|materializecss }}</div>
          <div class="col s1 s10ths input-field">{{ f.value_10_de|materializecss }}</div>
        </div>
      </div>
      <div class="input-group-append">
        <button class="btn add-form-row">+</button>
      </div>
    </div>
    {% endfor %}
    <div class="row ">
      <div class="col s2">
        <a class="btn-large right btn-bottom" href="{% url 'pipeline:config' %}">
          <i class="material-icons right dd-icon">navigate_before</i>
        </a>
      </div>
      <div class="col s2 offset-s8">
        <button class="btn-large right btn-bottom" type="submit">
          <i class="material-icons right dd-icon">navigate_next</i>
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

  {% block footer_include %}
  {% endblock footer_include %}

{% block custom_js %}
{% load static %}
<script src="{% static 'formset_handler.js' %}" type="text/javascript"></script>
<script>
    $(document).on("DOMNodeInserted", function (e) {
        if ($('div .form-row').length > 9) {
            $("button.add-form-row:last").hide();
        }
    });
    $(document).on("DOMNodeRemoved", function (e) {
        if ($('div .form-row').length > 9) {
            $("button.add-form-row:last").show();
        }
    });

      $('a[data-target="results-dd"]>img').attr("src", "{% static 'app/img/research-grey.svg' %}");
      $('a[data-target="results-dd"]').addClass("disabled");
</script>
{% endblock %}