{% extends "app/base.html" %}
{% load materializecss %}
{% load i18n %}

{% block content %}
<div class="container">
  <h4>{% trans "Edit Run:" %}</h4>
  <form action="" enctype="multipart/form-data" id="edit-form" method="POST">
    {% csrf_token %}
        {{ run_form.management_form }}
    <div class="row">
      <div class="col s12 l6">
        <img class="img-edit" src="{{ image.url }}">
      </div>
      <div class="col s12 l6">
        <div style="display: inline-block">
          {{run_form.analysis_en|materializecss}}
        {{run_form.status|materializecss}}
        </div>
        
        <div class="file-field input-field" style="display: inline-block">
          <div class="btn">
            <span>{% trans "Change Image" %}</span>
            <input type="file" name="image" accept="image/*" id="id_image">
          </div>
          <div class="file-path-wrapper" >
            <input class="file-path-validate" type="text">
          </div>
        </div>
        </div>
    </div>
    <div class="row">
      <div class="col s12">
        {{run_form.description_en|materializecss}}
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        {{run_form.description_de|materializecss}}
      </div>
    </div>
    <button class="btn" type="submit">{% trans "Save"%}</button>
  </form>
</div>
{% endblock %}

  {% block footer_include %}
  {% endblock footer_include %}

{% block custom_js %}
<!--<script>-->
<!--    $('#upload-submit').click(function () {-->
<!--        $("#upload-form").submit();-->
<!--    });-->
<!--    {% if message %}-->
<!--    $(document).ready(function () {-->
<!--      alert('{{ message }}');-->
<!--    });-->
<!--    {% endif %}-->
<!--    -->
<!--</script>-->
{% endblock %}