{% extends "app/base.html" %}
{% load materializecss %}
{% block content %}
{% load static %}
{% load i18n %}
<div class="container">

  
  <h4>{% trans "Upload Results" %}</h4>
  {% blocktrans %}
  <p>Select a <i>results.zip</i> file of a previously processed run from your File System and upload to the database.</p>
  {% endblocktrans %}
  <form action="" enctype="multipart/form-data" id="upload-form" method="POST">
  {{ upload_form|materializecss }}
  <button id="upload-submit" type="submit" class="btn-large waves-effect waves-light right">{% trans "Submit" %}<i class="material-icons right">send</i></button>
  </form>
</div>

{% endblock %}

  {% block footer_include %}
  {% endblock footer_include %}

{% block custom_js %}
<script>
  
    $('#upload-submit').click(function () {
        $("#upload-form").submit();
    });
    {% if message %}
    $(document).ready(function () {
      alert('{{ message }}');
    });
    {% endif %}

    $('a[data-target="results-dd"]>img').attr("src", "{% static 'app/img/research-grey.svg' %}");
    $('a[data-target="results-dd"]').addClass("disabled");
</script>
{% endblock %}