


html body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    height: 64px;
}

main {
    flex: 1 0 auto;
}


.padding-300 {
    padding-left: 300px

}

.minus-300 {
    max-width: calc(100% - 300px);
}

@media only screen and (max-width: 992px) {
    header, main, footer, .padding-300 {
        padding-left: 0;
    }
}

td > select {
    display: block;
}


@media only screen and (max-width: 992px) {
    .navbar-brand {
        margin-left: 50px;
    }
}

#lock-side-nav {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    display: block;
    width: 100%;
    height: 64px;
    line-height: 64px;
    color: black;
}

a {
    color: gray;
}

#id_steps_form-tools > ul > li {
    margin-left: 10px;
}

.nav-extended {
    background-color: transparent;
    min-height: 0;
}

.nav-content {
    margin-bottom: 0;
    background-color: transparent
}

.radio-form > li > label > input {
    position: relative !important;
    opacity: 1 !important;
    margin-right: 5px;
}

.radio-form > li {
    margin-left: 10px;
}

.log-content {
    white-space: pre-wrap;
    font-family: monospace;
    margin-right: 20px;
    margin-left: 20px;
    width: calc(100% - 40px);
    font-size: 14px;
}

.form-check {
    height: 5vh;
    padding-top: 20px;
    padding-left: 30px;
}


iframe {
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: calc(100vh - 64px);

}


.tabs {
    height: auto;
}


.dd-icon {
    margin-left: 0 !important;
}


.table-btn {
    padding-left: 5px;
    padding-right: 5px;

}

#emperor-notebook-0x9bfe972a {
    width: 100%;
    height: calc(100vh - 64px) !important;
}

.btn-bottom {
    margin-bottom: 10px;
}

.fix-sn-row {
    margin-bottom: 0;
}

.no-margin {
    margin: 0 !important;
}

.help-block {
    margin: 0
}

.plot-icon {
    max-width: 100px;
}

.run-img {
    background-color: #4db6ac; /* teal lighten-2 */
    vertical-align: center;
    object-fit: cover;
    height: 225px;
}

.run-card {
    min-height: 15%;
}

.run-card-content {
    padding: 12px 24px 24px 24px !important;
}

.ellipsis {
    width: inherit;
    margin-right: 20px;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;

}

.trunc-col {
    max-width: 15em;
}

.img-edit {
    max-width: 100%;
    max-height: 100%;
}

#arrow-row {
    margin-bottom: 0;
}

#arrow-list {
    overflow: hidden;
    padding: 0;
    list-style: none;
    margin: 0.4em 0 0.4em 0;
}

#arrow-list li {
    float: left;
    margin: 0.2em .5em 0.2em 1em;
    border-width: 1em 0 1em 0;
}

#arrow-list label {
    background: #ddd;
    padding: .5em 1em;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    position: relative;
}

#arrow-list label:hover {
    background: #99db76;
}

#arrow-list label::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.55em;
  border-width: 1.5em 0 1.55em 1em;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -1em;
}

#arrow-list label:hover::before {
    border-color: #99db76 #99db76 #99db76 transparent;
}

#arrow-list label::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #ddd;
    right: -1em;
}

#arrow-list label:hover::after {
    border-left-color: #99db76;
}

#arrow-list .current,
#arrow-list .current:hover {
    font-weight: bold;
    background: none;
}

#arrow-list .current::after,
#arrow-list .current::before {
    content: normal;
}
.disabled{
    pointer-events: none;
}

.s10ths,
.m10ths,
.l10ths,
.xl10ths {
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s10ths {
  width: 10%;
}

@media only screen and (min-width: 601px) {
  .row .col.m10ths {
    width: 10%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l10ths {
    width: 10%;
  }
}

@media only screen and (min-width: 1201px) {
  .row .col.xl10ths {
    width: 10%;
  }
}